/* ==========================================================================
   Base styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --blue:#263238;
  --magenta:#880E4F;
  --purple:#8E24AA;
  --red:#DD0031;
  --dark-text: #fff;
  --dark-background: #222;
  --light-text: #4E4E4E;
  --light-background: #F4EDE4;
  --white: #fff;
}

* {
  margin:0; padding:0;
  box-sizing: border-box;
  font-weight: 700;
  font-style: normal;
  outline: none; border: none;
  text-decoration: none;
  text-transform: none;
  transition: .2s linear;
}

html {
  font-size: 60.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

body {
  background-color: var(--light-background);
  color: var(--light-text);
}

.btn {
  display: inline-block;
  border-radius: 5rem;
  background-color: var(--magenta);
  color:#fff;
  padding:0.8rem 2.4rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease;
  justify-content: center;
  margin-bottom: 9rem;
}

.btn:hover {
  background: var(--purple);
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 1rem 9%;
  background-color: var(--light-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
}

.dark-mode header {
  background-color: var(--dark-background);
}

header .logo img{
  width: 90px;
  height: 60px;
}

header .navbar.active {
  transform: translateX(0);
}

header .navbar a {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  padding: 2.5rem;
  color: var(--magenta);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header .navbar a:hover {
  color: var(--purple);
}

header .navbar button {
  font-size: 2rem;
  font-family: "Inter Semi Bold", sans-serif;
  font-weight: 400;
  color:#fff;
  justify-content: center;
  padding: 1.4rem;
  background-color: var(--magenta);
  border-radius: 5rem;
  border: none;
}

header .navbar button:hover {
  background-color: var(--purple);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color:#333;
  border-radius:.5rem;
  padding:.5rem 1.5rem;
  cursor: pointer;
  border:.1rem solid rgba(0,0,0,.3);
  display: none;
}

.language-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  background-color: var(--blue);
  border-radius: 5rem;
  padding: 1rem;
}

.language-selector button {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: var(--light-background);
  background-color: var(--blue);
  cursor: pointer;
}

.menu-toggle {
  display: none;
  font-size: 3rem;
  background: none;
  border: none;
  color: var(--magenta);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 10rem;
  flex-wrap: wrap;
  background-color: var(--blue);
  margin-bottom: 10rem;
}

.home .content {
  line-height: 1.6;
  max-width: 57%;
  justify-content: center;
  color:#000;
  justify-items: center;
  margin-top: 10rem;
}

.home .content h3 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-top: 10rem;
  margin-bottom: 6rem;
  text-align: center;
  color: var(--light-background);
}

.cards {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: var(--light-background);
  background-color: var(--blue);
  gap: 2rem;
  flex-wrap: wrap;
}

.cards .card {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  margin: 0 1rem;
  max-width: 300px;
}

.cards h3 {
  font-family: "Poppins", sans-serif;
  color: var(--light-background);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.cards p, .cards ul {
  font-size: 2.2rem;
  font-weight: 400;
}

.cards ul {
  list-style: none;
  padding: 0;
}

.cards ul li {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 5px;
  flex-wrap: wrap;
}

.text-content {
  flex: 1 1 500px;
  max-width: 600px;
}

.text-content h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--blue);
}

.text-content p {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: var(--purple);
  margin-bottom: 6rem;
  font-weight: 400;
}

.cta-button {
  margin-top: 6rem;
  background-color: var(--magenta);
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--purple);
}

/* Stats Section */

.stats-section {
  margin-top: 8rem;
  margin-bottom: 6rem;
  background-color: #F4EDE4;
  padding: 60px 20px;
  text-align: center;
}

.stats-container {
  max-width: 1000px;
  margin: 0 auto;
}

.stats-title {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--blue);
}

.stats-subtitle {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: var(--purple);
  margin-bottom: 40px;
  font-weight: 400;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--red);
}

.stat-label {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: var(--light-text);
  font-weight: 400;
  margin-top: 10px;
}

/* FAQ Section */
.faq-container {
  margin-bottom: 8rem;
}
.faq-section {
  max-width: 1000px;
  padding: 0 20px;
  text-align: center;
  margin: 8rem auto 50px;
}

.faq-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10rem;
  color: var(--blue);
  font-family: "Poppins", sans-serif;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  text-align: left;
  margin-bottom: 20px;
}

.faq-question {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--purple);
}

.faq-answer {
  margin-top: 10px;
  display: none;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: var(--light-text);
  font-weight: 400;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 1.5rem;
}

.start-button {
  background-color: var(--magenta);
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8rem;
}

.start-button:hover {
  background-color: var(--purple);
}

/* Features Section */
.features {
  text-align: center;
  padding: 1px;
  margin-top: 8rem;
}

.features_title {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  font-weight: 900;
  color: var(--purple);
  margin-bottom: 7rem;
}

.features h3 {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  color: var(--blue);
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: 700;
}

.features p {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--purple);
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.features .card-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  flex-wrap: wrap;
  perspective: 1000px;
}

.features .card {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 10px solid var(--blue);
  border-radius: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  overflow: hidden;
}

.features .card:hover {
  transform: scale(1.05);
}

.features .card img {
  max-width: 160px;
  height: auto;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-extended {
  background-color: var(--light-background);
  color: var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features .card:hover .card-extended {
  opacity: 1;
  visibility: visible;
}

/* Card Extended Content */
.card-extended h4 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card-extended p {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
  color: var(--purple);
}

.card-extended ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  color: var(--purple);
}

.card-extended li {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
  color: var(--purple);
}

.card-extended ol {
  padding-left: 20px;
  margin-bottom: 1rem;
  color: var(--purple);
}

.card-extended li {
  list-style-type: decimal;
}

/* Benefits Section */
.benefits {
  background-color: var(--light-background);
  text-align: center;
  padding: 4rem 0;
}

.benefits__title {
  color: var(--light-background);
  background-color: var(--purple);
  margin-top: 8rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  padding: 20px;
  margin-bottom: 4rem;
}

.benefits__container {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
}

.benefits__card {
  background-color: var(--light-background);
  padding: 4rem;
  border-radius: 8px;
  text-align: left;
}

.benefits__subtitle {
  color: var(--purple);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center; /
}

.benefits__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.benefits__list__item {
  color: var(--blue);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.benefits__list__item::before {
  content: "• ";
  color: var(--blue);
  font-size: 2.5rem;
  margin-right: 1rem;
}

/* Video Section */

.video-section {
  background-color: var(--light-background);
  padding: 60px 20px;
  text-align: center;
  margin-bottom: 8rem;
}

.video-container {
  max-width: 900px;
  margin: 0 auto;
}


.video-title {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 8rem;
  color: var(--purple);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Testimonials Section */

#testimonials {
  font-family: "Poppins", sans-serif;
  justify-items: center;
}

#testimonials .testimonials__header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

#testimonials .testimonials__header h1 {
  text-align: center;
  padding: 20px;
  font-size: 5rem;
  width: 2000px;
  align-content: center;
  color: white;
  background-color: var(--purple);
  font-family: "Poppins", sans-serif;
}

#testimonials .testimonials__header p {
  margin-top: 25px;
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
  color: var(--blue);
  text-align: center;
  margin-bottom: 40px;
}

#testimonials .testimonial-card{
  display: inline-block;
  flex: 1;
  margin: 30px 10px 40px;
  width: 500px;
  height: 300px;
  justify-items: center;
  background-color: var(--blue);
  border: 1px solid #ccc;
  border-radius: 60px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);
}

#testimonials .testimonial-card__img {
  width: 22%;
  height: auto;
  display: flex;
  justify-items: center;
  margin: 30px 10rem 10px;
  border-radius: 50%;
}

#testimonials .testimonial-card__content {
  text-align: center;
  display: flex;
  justify-items: center;
  padding: 15px;
  margin: 20px 20px 25px;
  flex-grow: 1;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.6rem;
}

#testimonials .testimonial-card__footer {
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #f0f8ff;
  width: 200px;
  height: 60px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

#testimonials .testimonial-card__footer p {
  font-family: "Inter", sans-serif;
  color: var(--light-text);
}

/* Plans Section */

.plans-title h1 {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  color: var(--blue);
  font-family: "Poppins", sans-serif;
}

.plan-text p{
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--purple);
}

.plan-text ul{
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--blue);
}

.box-content{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.box-free, .box-premium {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 6rem;
  width: 100%;
}

.plan-free p, .plan-premium p {
  font-size: 2rem;
  padding: 1px;
  line-height: 3;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.box-free {
  background-color: #FFFFFF;
  border: 4px solid var(--blue);
}

.box-free h3 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  background: none;
  text-align: center;
  color: var(--magenta);
  padding: 2rem 0;
}

.box-free .plan-free {
  padding: 1rem;
}

.box-free .plan-free ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.box-free .plan-free ul li {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--blue);
  margin-bottom: 3rem;
}

.box-free .plan-free .btn {
  margin-top: 1.5rem;
  text-align: center;
}

#free-button {
  background-color: var(--magenta);
  color: #fff;
  display: inline-block;
  border: none;
  padding:0.8rem 2.4rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 6rem;
  text-align: center;
}

#free-button:hover {
  background-color: var(--purple);
}

.box-premium {
  background-color: var(--blue);
  color: var(--dark-text);
}

.box-premium h3 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 2rem 0;
}

.box-premium .plan-premium {
  padding: 1rem;

}

.box-premium .plan-premium ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.box-premium .plan-premium ul li {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--light-background);
  margin-bottom: 3rem;
}

#premium-button {
  background-color: var(--magenta);
  color: var(--dark-text);
  border: none;
  display: inline-block;
  padding:0.8rem 2.4rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10rem;
  text-align: center;
}

#premium-button:hover {
  background-color: var(--purple);
}

footer {
  background-color: var(--magenta);
}
.contact-container {
  background-color: var(--magenta);
  color:var(--light-background);
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  line-height: 4.5rem;
}

.contact-container a {
  color: #fff;
  font-weight: 400;
}

.contact-container p {
  font-weight: 400;
}

.social-media i {
  color: var(--light-background);
  margin-right: 3rem;
  width: 80px;
  font-size: 2rem;
}

.social-media i:hover {
  color: var(--purple);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-divider {
  border: 1px solid #ccc;
}

.copyright-text {
  text-align: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  margin-top: 10px;
  background-color: var(--magenta);
}

/* Media Queries */

@media (max-width: 991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }

  .home {
    padding: 3rem 4rem;
  }

  .home .content {
    max-width: 100%;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .home .content p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .home img {
    max-width: 100%;
    margin-top: 5rem;
  }

  .section .image {
    display: none;
  }

  .cards {
    padding: 2rem 1rem;
  }

  .cards .card {
    margin: 1rem;
    max-width: 100%;
  }

  .features {
    padding: 20px 1rem;
    margin-top: 6rem;
  }

  .features h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .features .card-container {
    gap: 30px;
  }

  .features .card {
    width: 250px;
    padding: 15px;
    border-radius: 30px;
  }

  .features .card img {
    max-width: 120px;
    margin-bottom: 10px;
  }

  .card-extended {
    padding: 15px;
    border-radius: 30px;
  }

  .card-extended h4 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }

  .card-extended ul li,
  .card-extended li {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }

  .benefits {
    padding: 3rem 0;
  }

  .benefits__title {
    margin-top: 6rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  .benefits__container {
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .benefits__card {
    padding: 3rem;
    margin: 1rem;
    text-align: center;
  }

  .benefits__subtitle {
    font-size: 2.5rem;
  }

  .benefits__list__item {
    font-size: 2rem;
  }

  #testimonials .testimonials__header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #testimonials .testimonials__header h1 {
    font-size: 4rem;
    width: auto;
  }

  #testimonials .testimonials__header p {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  #testimonials .testimonial-card {
    width: 90%;
    height: auto;
  }

  #testimonials .testimonial-card__img {
    width: 30%;
    margin: 2rem auto 1rem;
  }

  #testimonials .testimonial-card__content {
    font-size: 1.4rem;
    margin: 15px 15px 20px;
  }

  #testimonials .testimonial-card__footer {
    width: 150px;
    height: 50px;
    padding: 8px;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .plans-title h1 {
    margin-top: 8rem;
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  .plan-text p {
    font-size: 2.8rem;
  }

  .plan-text ul {
    font-size: 2rem;
  }

  .box-content {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .box-free,
  .box-premium {
    max-width: 400px;
    margin-bottom: 4rem;
  }

  .box-free h3,
  .box-premium h3 {
    font-size: 3.5rem;
    padding: 1.5rem 0;
  }

  .box-free .plan-free ul li,
  .box-premium .plan-premium ul li {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  #free-button,
  #premium-button {
    font-size: 2rem;
    margin-top: 4rem;
  }

  .contact-container {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    line-height: 4rem;
    justify-content: space-around;
  }

  .social-media i {
    margin-right: 2rem;
    font-size: 2.5rem;
    width: 60px;
  }

  .copyright-text {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {

  header .fa-bars {
    display: block;
  }

  .section .image {
    display: none;
  }


  header .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    background: var(--light-background);
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1001;
  }

  .dark-mode header .navbar {
    background-color: var(--dark-background);
  }

  header .navbar.active {
    transform: translateX(0);
  }

  header .navbar a {
    display: block;
    margin: 1rem 0;
    padding: 1.5rem;
    font-size: 2.2rem;
  }

  header .navbar button {
    font-size: 2.2rem;
    padding: 1.2rem;
    margin-top: 2rem;
  }

  .menu-toggle {
    display: block;
  }

  .home {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .home .content h3 {
    font-size: 3.5rem;
    margin-top: 3rem;
  }

  .home .content p {
    font-size: 1.8rem;
  }

  .features h2 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }

  .features .card-container {
    gap: 20px;
  }

  .features .card {
    width: 200px;
    padding: 10px;
    border-radius: 25px;
  }

  .features .card img {
    max-width: 100px;
    margin-bottom: 8px;
  }

  .card-extended {
    padding: 10px;
    border-radius: 25px;
  }

  .card-extended h4 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
  }

  .card-extended ul li,
  .card-extended li {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  .benefits__title {
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .benefits__card {
    padding: 2rem;
  }

  .benefits__subtitle {
    font-size: 2.2rem;
  }

  .benefits__list__item {
    font-size: 1.8rem;
  }

  #testimonials .testimonials__header h1 {
    font-size: 3.5rem;
  }

  #testimonials .testimonials__header p {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }

  #testimonials .testimonial-card {
    width: 95%;
  }

  #testimonials .testimonial-card__img {
    width: 35%;
  }

  #testimonials .testimonial-card__content {
    font-size: 1.3rem;
    margin: 15px 10px;
  }

  #testimonials .testimonial-card__footer {
    width: 130px;
    height: 40px;
    padding: 6px;
    font-size: 1rem;
  }

  .plans-title h1 {
    font-size: 3.5rem;
    margin-top: 6rem;
  }

  .plan-text p {
    font-size: 2.4rem;
  }

  .plan-text ul {
    font-size: 1.8rem;
  }

  .box-free h3,
  .box-premium h3 {
    font-size: 3rem;
    padding: 1rem 0;
  }

  .box-free .plan-free ul li,
  .box-premium .plan-premium ul li {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  #free-button,
  #premium-button {
    font-size: 1.8rem;
    margin-top: 3rem;
  }

  .contact-container {
    font-size: 1.6rem;
    line-height: 3rem;
    flex-direction: row;
    text-align: center;
  }

  .social-media {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .social-media i {
    margin-right: 1.5rem;
    font-size: 2.2rem;
    width: 50px;
  }

  .copyright-text {
    font-size: 1.4rem;
    padding: 0.8rem;
  }
}

@media (max-width: 450px) {

  html {
    font-size: 50%;
  }

  .image {
    display: none;
  }

  .btn {
    font-size: 2rem;
    padding: 0.6rem 1.8rem;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .home .content p {
    font-size: 1.6rem;
  }

  .cards h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .cards p,
  .cards ul {
    font-size: 1.8rem;
  }

  .features h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .features h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .features p {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .features .card {
    width: 100%;
  }

  .benefits__title {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 0.8rem;
  }

  .benefits__card {
    padding: 1.5rem;
  }

  .benefits__subtitle {
    font-size: 2rem;
  }

  .benefits__list__item {
    font-size: 1.6rem;
  }

  #testimonials .testimonials__header h1 {
    font-size: 3rem;
  }

  #testimonials .testimonials__header p {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  #testimonials .testimonial-card__img {
    width: 40%;
  }

  #testimonials .testimonial-card__content {
    font-size: 1.2rem;
    margin: 12px 8px;
  }

  #testimonials .testimonial-card__footer {
    width: 110px;
    height: 35px;
    padding: 5px;
    font-size: 0.9rem;
  }

  .plans-title h1 {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .plan-text p {
    font-size: 2rem;
  }

  .plan-text ul {
    font-size: 1.6rem;
  }

  .box-free h3,
  .box-premium h3 {
    font-size: 2.6rem;
    padding: 0.8rem 0;
  }

  .box-free .plan-free ul li,
  .box-premium .plan-premium ul li {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  #free-button,
  #premium-button {
    font-size: 1.6rem;
    margin-top: 2.5rem;
  }

  .contact-container {
    font-size: 1.4rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
  }

  .social-media i {
    margin-right: 1rem;
    font-size: 2rem;
    width: 40px;
  }

  .copyright-text {
    font-size: 1.2rem;
    padding: 0.6rem;
  }
}
