/* ==========================================================================
   Base styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --blue:#263238;
  --magenta:#880E4F;
  --purple:#8E24AA;
  --red:#DD0031;
  --dark-text: #fff;
  --dark-background: #222;
  --light-text: #4E4E4E;
  --light-background: #F4EDE4;
  --white: #fff;
}

* {
  margin:0; padding:0;
  box-sizing: border-box;
  font-weight: 700;
  font-style: normal;
  outline: none; border: none;
  text-decoration: none;
  text-transform: none;
  transition: .2s linear;
}

html {
  font-size: 60.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

body {
  background-color: var(--light-background);
  color: var(--light-text);
}

.dark-mode {
  background-color: var(--dark-background);
  color: var(--dark-text);

}

.btn {
  display: inline-block;
  border-radius: 5rem;
  background:#880E4F;
  color:#fff;
  padding:0.8rem 2.4rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: var(--purple);
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 1rem 9%;
  background-color: var(--light-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
}

.dark-mode header {
  background-color: var(--dark-background);
}

header .logo img{
  width: 90px;
  height: 60px;
}

header .navbar.active {
  transform: translateX(0);
}

header .navbar a {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  padding: 2.5rem;
  color: var(--magenta);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header .navbar a:hover {
  color: var(--purple);
}

header .navbar button {
  font-size: 2rem;
  font-family: "Inter Semi Bold", sans-serif;
  font-weight: 400;
  color:#fff;
  justify-content: center;
  padding: 1.4rem;
  background-color: var(--magenta);
  border-radius: 5rem;
  border: none;
}

header .navbar button:hover {
  background-color: var(--purple);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color:#333;
  border-radius:.5rem;
  padding:.5rem 1.5rem;
  cursor: pointer;
  border:.1rem solid rgba(0,0,0,.3);
  display: none;
}

.menu-toggle {
  display: none;
  font-size: 3rem;
  background: none;
  border: none;
  color: var(--magenta);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5%;
  padding-left: 10rem;
  padding-right: 10rem;
  flex-wrap: wrap;
}

.home .content {
  flex: 1;
  /* padding-right: 4rem; */
  line-height: 1.6;
  max-width: 57%;
  justify-content: center;
  color:#000
}

.home .content h3 {
  font-size: 4.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.home .content p {
  font-weight: 400;
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
  color: var(--purple);
  margin-bottom: 3rem;
}

.home img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  height: auto;
  object-fit: cover;
  margin-top: 8rem;
}

.cards {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: var(--light-background);
  background-color: var(--blue);
  gap: 2rem;
  flex-wrap: wrap;
}

.cards .card {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  margin: 0 1rem;
  max-width: 300px;
}

.cards h3 {
  font-family: "Poppins", sans-serif;
  color: var(--light-background);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.cards p, .cards ul {
  font-size: 2.2rem;
  font-weight: 400;
}

.cards ul {
  list-style: none;
  padding: 0;
}

.cards ul li {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

footer {
  background-color: var(--magenta);
}
.contact-container {
  background-color: var(--magenta);
  color:var(--light-background);
  font-size: 2rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 6rem;
}

.contact-container a {
  color: #fff;
  font-weight: 400;
}

.contact-container p {
  font-weight: 400;
}

.social-media i {
  color: var(--light-background);
  margin-right: 4rem;
  width: 80px;
  font-size: 3rem;
}

.social-media i:hover {
  color: var(--purple);
}

.footer-divider {
  border: 1px solid #ccc;
}

.copyright-text {
  text-align: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  margin-top: 10px;
  background-color: var(--magenta);
}

.funciones {
  text-align: center;
  padding: 20px;
}

.funciones h2 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: var(--purple);
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 900;
}

.funciones h3 {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  color: var(--blue);
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: 700;
}

.funciones p {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--purple);
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.funciones .card-contenedor { 
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  perspective: 1000px;
}

.funciones .card {
  width: 300px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 45px;
  border: 10px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d; 
  position: relative; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.funciones .card:hover {
  transform: scale(1.05);
}

.funciones .card img {
  max-width: 160px;
  height: auto;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para la parte extendida de la tarjeta */
.card-extendida {
  background-color: var(--white);
  color: var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  visibility: hidden; 
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.funciones .card:hover .card-extendida {
  opacity: 1;
  visibility: visible;
}

/* Estilos para el contenido dentro de la parte extendida */
.card-extendida h4 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card-extendida ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.card-extendida li {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}

.card-extendida ol {
  padding-left: 20px;
  margin-bottom: 1rem;
}

.card-extendida li { 
  list-style-type: decimal;
}
